@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form {
    @apply rounded-[10px] border-black px-4 py-2 shadow-[0px_2px_10px_0px_rgba(0,0,0,0.5)] dark:bg-[#242526] dark:text-[#dddee3];
  }
  .form-input {
    @apply w-full border-2 mt-5 py-2 px-4 placeholder:text-black dark:bg-[#3a3b3c] dark:placeholder:text-[#e4e6eb] dark:border-black;
  }
  .btn {
    @apply text-white w-full py-1 px-2 rounded-[5px] cursor-pointer hover:opacity-90;
  }
  .btn-pagination {
    @apply p-1 text-sm w-9 h-8 flex justify-center items-center border rounded-full  hover:opacity-90 cursor-pointer hover:bg-[#f1f1f2] dark:bg-black dark:border-black dark:hover:bg-[#3a3b3c];
  }
  .text-error {
    @apply text-red-600 flex justify-self-start items-center w-full;
  }
  .text-modal {
    @apply w-full flex justify-center items-center py-4 border-b-2;
  }
}
